<div class="contextual">
  <%= link_to "Spent hours", :controller => 'reporter', :action => 'index' %> |
  <a href="#">Over hours report</a>
</div>
<p>
  <% form_tag(:controller => "reporter", :action => "sprint_report") do %>
      <%= label_tag(:from, "From:") %>
      <%= text_field_tag(:from, @filters.from, :size => '10')  %> <%= calendar_for('from') %>
      <%= label_tag(:to, "To:") %>
      <%= text_field_tag(:to, @filters.to, :size => '10')  %> <%= calendar_for('to') %>
      <%= label_tag(:project, "Project:") %>
      <%= render_project_box @filters.project %>
      <%= label_tag(:sprint, "Sprint:") %>
      <%= render_sprint_box @filters.project, @filters.version %>
      <%= submit_tag("Generate") %>
  <% end %>
</p>

<% if @report_items.any? %>
    <table class="list issues">
      <thead><tr>
        <th>Subject</th>
        <th>Status</th>
        <th>Spent hours</th>
        <th>Story points</th>
      </tr></thead>
      <tbody>
      <% @report_items.each do |item| -%>
          <tr>
            <td class="activity"><%=h item.subject %></td>
            <td class="activity"><%=h item.status.name %></td>
            <td class="activity"><%=h item.spent_hours %></td>
            <td class="activity"><%=h item.story_points %></td>
          </tr>
      <% end -%>
      </tbody>
    </table>
<% end %>

<%= link_to "Generate report", :controller => 'reporter', :action => 'generate_sprint_report' %>



